.den {
  width: 90%;
  height: 90%;
  position: fixed;
  top: 5%;
  left: 5%;
  background: white;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: auto;
}

.den-pet {
  box-sizing: border-box;
  width: 20%;
  cursor: pointer;
  transition: linear background 0.2s;
  padding: 10px;
}

.den-pet:hover {
  background: #E1F5FE;
}
